html { overflow:auto; }
body { font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; min-width:960; margin:0 auto; text-align:center }


body
{
  background: #EEE;
  border-top: 5px solid black;
  color: #333;
  font-size: 11px;
  padding: 0 0 40px;
}

h1#branding
{
  font-weight: normal;
  font-size: 3em;
  background: #AAA;
  height: 39px;
  padding: .7em 1em;
  margin: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, header, iframe, footer, figure {
  margin-bottom: 20px;
}

.container_12 {
  position: relative;
  background: white;
}

header
{
  margin-bottom: 0;
}

div#date
{
  text-align: left;
}

h2#date
{
  font-weight: normal;
  padding: .5em;
  margin: 0;
}

table {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: .2em 1em;
  text-align: left;
}

tbody th, tbody td {
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  background: #EEE;
}

tbody tr.odd th, tbody tr.odd td {
  background: white;
}

