h1.ui-title {
  margin: 10px 14px 14px 14px;
}

div.page_title h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.ui-btn-inner {
  padding: .5em 10px;
}

.ui-btn-text {
  font-weight: normal;
}

div#footer {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

