.ui-header .ui-title {
  margin: 0.6em 15px 0.8em;
}

div.page_title h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

div#content {
  padding: 1em 4em;
}

#page_title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

div.info_table table {
  margin-left: auto;
  margin-right: auto;
}

div.info_table table th, div.info_table table td {
  padding: 5px 10px 5px 10px;
}

.ui-btn-inner {
  padding: .5em 10px;
}

.ui-btn-text {
  font-weight: normal;
}

.ui-li-divider {
  text-align: center;
}

div#footer {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

img.ui-li-thumb {
  margin-top: 3px;
  margin-bottom: 4px;
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
  padding-left: 80px;
  padding-right: 10px;
}

