<div id="code_jam_page" data-role="page">
  <div data-role="header">
    <a href="#main_page" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home">
      <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
        <span class="ui-btn-text">Home</span>
        <span class="ui-icon ui-icon-home ui-icon-shadow"></span>
      </span>
    </a>
    <h1>2011 Mini Away Day Xi'an</h1>
  </div><!-- /header -->

  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#sessions_page"       data-transition="slide">Sessions</a></li>
        <li><a href="#lightning_talks_page" data-transition="slide">Lightning Talks</a></li>
        <li><a href="#games_page"          data-transition="slide">Games</a></li>
        <li><a href="#code_jam_page"       data-transition="slide" class="ui-btn-active ui-state-persist">Code Jam</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->

