<div id="games_page" data-role="page">

  <div data-role="header">
    <a href="#main_page" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home">
      <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
        <span class="ui-btn-text">Home</span>
        <span class="ui-icon ui-icon-home ui-icon-shadow"></span>
      </span>
    </a>
    <h1>2011 Mini Away Day Xi'an</h1>
  </div><!-- /header -->

  <div id="game_content" data-role="content">

    <div data-role="header" data-theme="b">
      <h1>嗅事百科</h1>
    </div>
    <div class="ui-body ui-body-b">
      <div class="game_time">
        <img src="/images/xiushibaike_x80.png" />
        <p>14:30 - 15:30</p>
      </div>
      <p>看看你有多了解你身边的ThoughtWorkers，尤其是他（她）有多sui。爆料就有奖，多爆多拿。最终获胜者还有米所亲自颁发的苹果笔记本哦。排名最后的将喜获和胡所合唱“纤夫的爱”的机会！！</p>
    </div>

    <div data-role="header" data-theme="b">
      <h1>抢麦大赛TW</h1>
    </div>
    <div class="ui-body ui-body-b">
      <div class="game_time">
        <img src="/images/maikefeng_80x80.png" />
        <p>14:30 - 15:30</p>
      </div>
      <p>Thoughtworks Awayday版“我爱记歌词”！70, 80, 90的记忆都在这里。获胜的前三名将有一年的域名赠送！</p>
    </div>

    <div data-role="header" data-theme="b">
      <h1>吹气球锦标赛</h1>
    </div>
    <div class="ui-body ui-body-b">
      <div class="game_time">
        <img src="/images/chuiqiqiu_80x80.png" />
        <p>15:45 - 16:45</p>
      </div>
      <p>肺活量够大吗？跟pair够默契吗？想比大小吗？快来参加吹气球锦标赛。当然我们也准备了精美的糖果礼物等着你！</p>
    </div>
  </div><!-- /content -->

  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#sessions_page"       data-transition="slide">Sessions</a></li>
        <li><a href="#lightning_talks_page" data-transition="slide">Lightning Talks</a></li>
        <li><a href="#games_page"          data-transition="slide" class="ui-btn-active ui-state-persist">Games</a></li>
        <li><a href="#code_jam_page"       data-transition="slide">Code Jam</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->

