<div id="lightning_talk_page" data-role="page">

  <div data-role="header">
    <a href="#main_page" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home">
      <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
        <span class="ui-btn-text">Home</span>
        <span class="ui-icon ui-icon-home ui-icon-shadow"></span>
      </span>
    </a>
    <h1>2011 Mini Away Day Xi'an</h1>
  </div><!-- /header -->

  <div data-role="content" data-theme="b">
    <div class="ui-grid-a" style="width: 245px; margin: 0 auto;">
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/li_liyan_120x120.png" alt="Li Liyan" />
        </div>
        <div class="names">
          <p>李力岩 (Li Liyan)</p>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/lei_lifang_120x120.png" alt="Lei Lifang" />
        </div>
        <div class="names">
          <p>雷丽芳 (Lei Lifang)</p>
        </div>
      </div>
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/ma_qiang_120x120.png" alt="Ma Qiang" />
        </div>
        <div class="names">
          <p>马强 (Ma Qiang)</p>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/xie_jia_120x120.png" alt="Xie Jia" />
        </div>
        <div class="names">
          <p>颉嘉 (Xie Jia)</p>
        </div>
      </div>
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/che_kai_120x120.png" alt="Che Kai" />
        </div>
        <div class="names">
          <p>车凯 (Che Kai)</p>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/jin_ming_120x120.png" alt="Jin Ming" />
        </div>
        <div class="names">
          <p>金明 (Jin Ming)</p>
        </div>
      </div>
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/hu_kai_120x120.png" alt="Hu Kai" />
        </div>
        <div class="names">
          <p>胡凯 (Hu Kai)</p>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-d" style="width: 120px; height:120px; padding: 0; margin: 0;">
          <img src="/images/ren_xiaojun_120x120.png" alt="Ren Xiaojun" />
        </div>
        <div class="names">
          <p>任晓君 (Ren Xiaojun)</p>
        </div>
      </div>
    </div><!-- /grid-c -->
  </div><!-- /content -->

  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#sessions_page"       data-transition="slide">Sessions</a></li>
        <li><a href="#lightning_talk_page" data-transition="slide" class="ui-btn-active ui-state-persist">Lightning Talk</a></li>
        <li><a href="#games_page"          data-transition="slide">Games</a></li>
        <li><a href="#code_jam_page"       data-transition="slide">Code Jam</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->

