<div id="main_page" data-role="page">

  <div data-role="header">
    <a href="#main_page" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home">
      <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
        <span class="ui-btn-text">Home</span>
        <span class="ui-icon ui-icon-home ui-icon-shadow"></span>
      </span>
    </a>
    <h1>2011 Mini Away Day Xi'an</h1>
  </div><!-- /header -->


  <div id="content" data-role="content">
    <div class="ui-bar-c ui-corner-all ui-shadow" style="padding:.2em;">
      <div id="posts">
        <iframe width="100%" height="100%"  frameborder="0" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=0&height=550&uid=1934385731&skin=9&refer=1&pic=1&titlebar=0&border=0&publish=0&atalk=1&recomm=0&at=0&atopic=miniawayday&ptopic=miniawayday&colordiy=0&dpc=1"></iframe>
      </div>
    </div>
  </div><!-- /content -->

  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#sessions_page"       data-transition="slide" class="ui-btn-active ui-state-persist">Sessions</a></li>
        <li><a href="#lightning_talks_page" data-transition="slide">Lightning Talks</a></li>
        <li><a href="#games_page"          data-transition="slide">Games</a></li>
        <li><a href="#code_jam_page"       data-transition="slide">Code Jam</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

