<div id="main_page" data-role="page">

  <div data-role="header">
    <h1>2011 Mini Away Day Xi'an</h1>
  </div><!-- /header -->


  <div id="content" data-role="content">
    <div class="page_title">
      <h2 id="page_title">Dec 17, Sculpting In Time</h2>
    </div><!-- /page_title -->

    <div class="ui-bar-c ui-corner-all ui-shadow" style="padding:.2em;">
      <div id="map_canvas"></div>
    </div>
  </div><!-- /content -->


  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#sessions_page"       data-transition="slide">Sessions</a></li>
        <li><a href="#lightning_talks_page" data-transition="slide">Lightning Talks</a></li>
        <li><a href="#games_page"          data-transition="slide">Games</a></li>
        <li><a href="#code_jam_page"       data-transition="slide">Code Jam</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

