<script type="text/javascript" src="/javascripts/google-maps-api.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.map.full.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.map.extensions.js"></script>

<script type="text/javascript">
  $('#main_page').live("pagecreate", function() {
      $('#map_canvas').gmap({'center': '34.23586446871444, 108.89258209616042'}).bind('init', function(evt, map) {
        $('#map_canvas').gmap('option', 'zoom', 16);
        $('#map_canvas').gmap('addMarker', {'position': map.getCenter(), 'animation': google.maps.Animation.DROP }).click(function() {
          $('#map_canvas').gmap('openInfoWindow', { 'content': '<h3>2011 Mini Away Day</h3>Sculpting In Time, Waiting for You.<br />雕刻时光，等你来秀！<br /><br />高新区科技路55号金桥国际B-C座2楼<hr /><a href="http://g.co/maps/66wpn" target="_blank">Directions</a>'}, this);
          });
        $('#map_canvas').gmap('addMarker', {'position': '34.218781373896135, 108.89038871989024', 'animation': google.maps.Animation.DROP }).click(function() {
          $('#map_canvas').gmap('openInfoWindow', { 'content': '<strong>无尽美食尽在这里哦，吃货～</strong><br /><br />唐延路王子铂金酒店<hr /><a href="http://g.co/maps/6ra76" target="_blank">Directions</a>'}, this);
          });
        });
      });
</script>

<div id="main_page" data-role="page">

  <div data-role="header">
    <h1>2011 Mini Away Day Xi'an</h1>
  </div><!-- /header -->


  <div id="content" data-role="content">
    <div class="page_title">
      <h2 id="page_title">Dec 17, Sculpting In Time</h2>
    </div><!-- /page_title -->

    <div class="ui-bar-c ui-corner-all ui-shadow" style="padding:.2em;">
      <div id="map_canvas"></div>
    </div>
  </div><!-- /content -->


  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#sessions_page"       data-transition="slide">Sessions</a></li>
        <li><a href="#lightning_talks_page" data-transition="slide">Lightning Talks</a></li>
        <li><a href="#games_page"          data-transition="slide">Games</a></li>
        <li><a href="#code_jam_page"       data-transition="slide">Code Jam</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

