<!DOCTYPE html>
<html>
<head>
  <title>2011 Mini Away Day Xi'an</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0 user-scalable=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.0.min.css" />
  <link rel="stylesheet" href="/stylesheets/basic.css" />
  <link rel="stylesheet" media="screen and (min-device-width: 1200px)" href="/stylesheets/laptop.css" />
  <link rel="stylesheet" media="screen and (max-device-width: 768px) and (orientation: portrait)" href="/stylesheets/ipad-portrait.css" />
  <link rel="stylesheet" media="screen and (max-device-width: 1024px) and (orientation: landscape)" href="/stylesheets/ipad-landscape.css" />
  <link rel="stylesheet" media="screen and (max-device-width: 640px) and (orientation: portrait)" href="/stylesheets/iphone-portrait.css" />

  <script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.mobile-1.0b2.min.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27719209-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
